<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AddToRegistration</servlet-name>
        <servlet-class>registration.AddToRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmailServlet</servlet-name>
        <servlet-class>registration.VerifyEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemainingCourses</servlet-name>
        <servlet-class>student.RemainingCoursesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayCurriculum</servlet-name>
        <servlet-class>advisor.DisplayCurriculumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayCurriculumCourse</servlet-name>
        <servlet-class>advisor.DisplayCurriculumCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCurriculumCourseServlet</servlet-name>
        <servlet-class>advisor.UpdateCurriculumCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCurriculumCourseServlet</servlet-name>
        <servlet-class>advisor.DeleteCurriculumCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCurriculumCourseServlet</servlet-name>
        <servlet-class>advisor.InsertCurriculumCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayAdvisorsServlet</servlet-name>
        <servlet-class>advisor.DisplayAdvisorsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayAdviseesServlet</servlet-name>
        <servlet-class>advisor.DisplayAdviseesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertAdviseeServlet</servlet-name>
        <servlet-class>advisor.InsertAdviseeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayCourseInfoServlet</servlet-name>
        <servlet-class>courseInfo.DisplayCourseInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToRegistration</servlet-name>
        <url-pattern>/addToRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmailServlet</servlet-name>
        <url-pattern>/verifyEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemainingCourses</servlet-name>
        <url-pattern>/remainingCourses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayCurriculum</servlet-name>
        <url-pattern>/displayCurriculum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayCurriculumCourse</servlet-name>
        <url-pattern>/displayCurriculumCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCurriculumCourseServlet</servlet-name>
        <url-pattern>/updateCurriculumCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCurriculumCourseServlet</servlet-name>
        <url-pattern>/deleteCurriculumCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCurriculumCourseServlet</servlet-name>
        <url-pattern>/insertCurriculumCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayAdvisorsServlet</servlet-name>
        <url-pattern>/displayAdvisors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayAdviseesServlet</servlet-name>
        <url-pattern>/displayAdvisees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertAdviseeServlet</servlet-name>
        <url-pattern>/insertAdvisee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayCourseInfoServlet</servlet-name>
        <url-pattern>/displayCourseInfo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
