/* line 14, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20, ../sass/style.scss */
h2 {
  padding: 1rem 0;
  text-align: center;
  color: #555;
}

/* line 26, ../sass/style.scss */
ul, ol {
  margin: 0;
  padding: 0;
}

/* line 31, ../sass/style.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 41, ../sass/style.scss */
.site-header a {
  color: #555;
  text-decoration: none;
}

/* line 47, ../sass/style.scss */
.logo {
  float: left;
  line-height: 2rem;
  font-size: 1.5rem;
  background-color: red;
}

/* line 54, ../sass/style.scss */
nav {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 57, ../sass/style.scss */
nav li {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  list-style: none;
  float: left;
  line-height: 2rem;
  background-color: orange;
}

/* line 68, ../sass/style.scss */
.content {
  margin-top: 5vh;
  padding-bottom: 1rem;
  background: #ffffff;
}

/* line 74, ../sass/style.scss */
.sidebar {
  margin-top: 5vh;
  background: #b9b9b9;
  padding-bottom: 1rem;
}
/* line 79, ../sass/style.scss */
.sidebar li {
  list-style: none;
}
/* line 81, ../sass/style.scss */
.sidebar li a {
  color: #666;
  padding-left: 1rem;
  line-height: 2;
  text-decoration: none;
}

/* line 90, ../sass/style.scss */
.widget {
  background: rgba(240, 150, 113, 0.8);
}

/* line 94, ../sass/style.scss */
.site-footer {
  margin-top: 5vh;
}

/* line 98, ../sass/style.scss */
.wrap {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 80%, transparent 80%);
  background-size: 8.47458%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
}
/* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.wrap:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 102, ../sass/style.scss */
.content {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 47em) {
  /* line 102, ../sass/style.scss */
  .content {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 13, ../sass/style.scss */
.content:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 110, ../sass/style.scss */
.sidebar {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 13, ../sass/style.scss */
.sidebar:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 47em) {
  /* line 110, ../sass/style.scss */
  .sidebar {
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }
}

/* line 118, ../sass/style.scss */
.gallery {
  width: 83.05085%;
  margin-left: auto;
  margin-right: auto;
}
/* line 13, ../sass/style.scss */
.gallery:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 125, ../sass/style.scss */
.gallery__item {
  list-style: none;
  width: 18.36735%;
  float: left;
  margin-right: 2.04082%;
}
/* line 128, ../sass/style.scss */
.gallery__item:nth-child(5n) {
  float: right;
  margin-right: 0;
}

/* line 133, ../sass/style.scss */
.widget {
  width: 24.05063%;
  float: left;
}
/* line 66, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
.widget:nth-child(4n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
.widget:nth-child(4n + 2) {
  margin-left: 25.31646%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
.widget:nth-child(4n + 3) {
  margin-left: 50.63291%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
.widget:nth-child(4n + 4) {
  margin-left: 75.94937%;
  margin-right: -100%;
  clear: none;
}

/* line 138, ../sass/style.scss */
#registrationForm {
  clear: both;
  margin: 0 auto;
  width: 70%;
  border-radius: 5px;
}

/* line 145, ../sass/style.scss */
.form1 ul {
  width: 65%;
  clear: both;
  list-style-type: none;
  list-style-position: outside;
  margin: 0px;
  padding: 0px;
}

/* line 154, ../sass/style.scss */
.form1 li {
  padding: 12px;
  border-bottom: 1px solid #eee;
  position: relative;
}

/* line 160, ../sass/style.scss */
.form1 label {
  width: 180px;
  margin-top: 3px;
  display: inline-block;
  float: left;
  padding: 3px;
}

/* line 168, ../sass/style.scss */
.form1 input {
  height: 20px;
  width: 220px;
  padding: 5px 8px;
}

/* line 174, ../sass/style.scss */
button.submit {
  background-color: #284a7e;
  border: 1px solid #509111;
  border-bottom: 1px solid #5b992b;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  padding: 6px 20px;
  text-align: center;
}

/* line 185, ../sass/style.scss */
button.submit.hover {
  opacity: .85;
  cursor: pointer;
}
